*{ box-sizing: border-box;}
.bluecolor {
    color: #4169e1;
}

/* for chapter 9-11 Q:3 */
.color-table {
  border-collapse: collapse;
  text-align: center;
  color: #4169e1;
  border-top: 1px solid #4169e1;
  border-bottom: 1px solid #4169e1;
  font-size: 30px;
}
.color-table th {
  border-bottom: 1px solid #4169e1;
}
.color-table th, td {
  padding-right: 100px;
}

.color-table tr:nth-child(even) {
  background-color: rgba(203, 233, 243,0.8);
}

/* for chap 31-34 Q:14 */
div#bill{
  margin: 0 auto;
  width: 35%;
  padding-left: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px #808080;
}

/* for chapter 43-48 Q:2  */
.main {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.phone-div {
    text-align: center;
}

.main .phone-div div {
    padding: 10px;
    border: 1px solid #4169e1;
    width: 110px;
    height: 150px;
}

.main .phone-div img {
    width: 100%;
    height: 100%;

}

.main .phone-div img:hover {
    cursor: pointer;
}

/* for chapter 43-48 Q:5 */
.counter-div{
    margin: auto;
    text-align: center;
}
.counter-div h1{
    font-size: 50px;
}
.counter-div button{
    padding: 10px;
    font-size: 15px;
    margin-right: 15px;
}
.counter-div #num{
    font-size: 100px;
    color: #006400;

}

/* for chapter 49-52 Q:1 Signup page */
.signup input[type=text],.signup input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup input[type=text]:focus,.signup input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signup hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.signup .clearfix button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup .clearfix button:hover {
  opacity:1;
}

.signup .signupbtn {
  float: left;
  width: 50%;
}
.signup {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  }
}

/* for chapter 49-52 Q:3 student detail form */
.stuform{
  box-shadow: 3px 3px 12px #808080;
  padding: 20px 10px;
  margin-top: 30px;
}
.stuform .btn{
  padding: 10px 50px;

}

#hiddenform{
  display: none;
}
